{{ define "main" }}

<section class="site-hero" style="background-image: url('/images/backgrounds/hero-background.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
        </div>
        <div class="site-project-description">
          <p>
            {{ .Description }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <a href="#project" class="site-project-header-action scroll-to">
          <span>Fly Down</span>
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>
    </div>
  </div>
</section>

{{ partial "australia.html" . }}

{{ partial "popular-destinations.html" . }}

{{ partial "plan-your-trip-button.html" . }}

{{ partial "asia.html" . }}

{{ partial "oceania.html" . }}

{{ partial "europe.html" . }}

{{ partial "north-america.html" . }}

{{ partial "south-america.html" . }}

{{ partial "africa.html" . }}

<!-- {{ partial "call-to-action.html" . }} -->

{{ end }}