{{ with .Site.Data.southamerica }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="section-title">
        <h2>{{ .title }}</h2>
      </div>
      <div class="row">
        {{ range .countries }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content">
              <h3>{{ .name }}</h3>
              <a href="{{ .link }}" class="read-more">Travel Here</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}